<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jmy.dao.UserMapper">
    <resultMap id="userResult" type="com.jmy.model.User">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="telephone" property="telephone"/>
        <result column="remark" property="remark"/>
        <result column="dept_id" property="deptId"/>
        <result column="operator" property="operator"/>
        <result column="valid" property="valid"/>
        <result column="operator_time" property="operatorTime"/>
        <result column="dept_name" property="deptName"/>
    </resultMap>
    <insert id="intsertUser">
        insert into
        user(username,telephone,password,remark,dept_id,operator,operator_time)
        values(#{username},#{telephone},#{password},#{remark}, #{deptId},#{operator},#{operatorTime})
    </insert>
    <select id="findByUsername" resultMap="userResult">
        select * from user
        where username = #{username}
    </select>
    <select id="findAllUer" resultMap="userResult">
        select u.*,d.name as dept_name from user u
        left join dept d on dept_id = d.id
        <where>
            <if test="username!=null and username!=''">
                username LIKE CONCAT('%',#{username},'%')
            </if>
        </where>
        limit #{startIndex},#{pageSize};
    </select>
    <select id="getRowCount" resultType="java.lang.Integer">
        select count(*) from user
        <where>
            <if test="username!=null and username!=''">
                username LIKE CONCAT('%',#{username},'%')
            </if>
        </where>
    </select>
    <select id="findUserById" resultMap="userResult">
        select user.*,dept.name as dept_name
        from user join dept on dept_id = dept.id
        where user.id= #{id};
    </select>

    <update id="validById">
		update
			user
		set
			valid = #{valid}
		where
			id = #{id}
	</update>
</mapper>